@using HotBox.Client.State
@using HotBox.Core.Enums
@inject ChannelState ChannelState
@inject DirectMessageState DirectMessageState
@implements IDisposable

@if (ChannelState.ActiveChannel is not null)
{
    var channel = ChannelState.ActiveChannel;
    <span class="channel-info-icon">@(channel.Type == ChannelType.Text ? "#" : "")</span>
    <span class="channel-info-name">@channel.Name</span>
    @if (!string.IsNullOrEmpty(channel.Topic))
    {
        <span class="channel-info-divider"></span>
        <span class="channel-info-topic">@channel.Topic</span>
    }
}
else if (DirectMessageState.ActiveConversationUserId.HasValue)
{
    <span class="channel-info-icon">@@</span>
    <span class="channel-info-name">@DirectMessageState.ActiveConversationDisplayName</span>
}

@code {
    protected override void OnInitialized()
    {
        ChannelState.OnChange += StateHasChanged;
        DirectMessageState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        ChannelState.OnChange -= StateHasChanged;
        DirectMessageState.OnChange -= StateHasChanged;
    }
}
